ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
}

nav {
    background-color: #efffef;
}

.menu {
    height: 50px;
    line-height: 50px;
    background-color: #efffef;
    text-align: center;
}

.menu li {
    position: relative;
    display: inline-block;
}

.menu li span,
.menu li a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
    display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 0 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.menu li span::after,
.menu li a::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 0%;
    background-color: #2def81;
    bottom: 13px;
    right: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: -1;
}

.menu li span.active::after,
.menu li span:hover::after,
.menu li a.active::after,
.menu li a:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

.menu li ul {
    background-color: #333;
    width: 200px;
    position: absolute;
    padding: 5px 0;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 99;
    line-height: 35px;
}

.menu li:hover ul {
    top: 50px;
    opacity: 1;
    visibility: visible;
}

.menu li ul li {
    display: block;
}

.menu li ul li a {
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	padding: 5px 15px;
	font-weight: normal !important;
	line-height: 23px;
	font-size: 15px;
}

.menu li ul li a::after {
    display: none;
}

.menu li ul li a:hover {
    background-color: #fff;
    color: #333;
}

.landing_slider .swiper-slide {
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider_prev,
.slider_next {
    position: absolute;
    top: 47%;
    left: 0px;
    font-size: 25px;
    background-color: #fff;
    height: 100px;
    width: 35px;
    line-height: 100px;
    text-align: center;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 999;
    cursor: pointer;
}

.slider_prev:hover,
.slider_next:hover {
    background-color: #333;
    color: #fff;
}

.slider_next {
    left: auto;
    right: 0px;
}

footer {
    padding: 20px 0;
    background-color: #efffef;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

.card{
    border-radius: 0;
}

/* ==================== students table style start ==================== */

.students_table thead .data_row td {
    color: #afafaf !important;
    font-size: 15px;
    background-color: #eff3f6;
}

.students_table .data_row {
    background-color: #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.students_table .data_row:hover {
    background-color: #fafafa;
}

.students_table td {
    padding: 15px;
    vertical-align: middle;
    border: 0;
    font-size: 15px;
    color: #777;
    font-weight: 600;
}

.students_table tbody td {
	border-bottom: 10px solid #EFF3F6;
}

.students_table tbody td a {
	color: #10c45e;
}

.students_table img {
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 8px 10px;
    margin-left: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 13px -3px #717171;
    box-shadow: 0 2px 13px -3px #717171;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

#students_table_wrapper .form-control {
    border-radius: 0;
}

#students_table_wrapper .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.page-item.active .page-link {
    background-color: #10c45e;
    border: 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.paginate_button.page-item.disabled {
    cursor: not-allowed;
    border: 0;
    border-radius: 0;
}

.data_row td {
    position: relative;
}

.data_row td .fa.fa-cog {
    cursor: pointer;
    color: #10c45e;
    display: block;
    padding: 10px 0;
    text-align: center;
    font-style: 18px;
}

.data_row td span ul {
    position: absolute;
    background-color: #10c45e;
    z-index: 9;
    right: 45px;
    -webkit-box-shadow: 0 0 25px -2px #d4d4d4;
    box-shadow: 0 0 25px -2px #d4d4d4;
    border-radius: 3px;
    padding: 4px 0;
    bottom: -2px;
    font-family: 'Rubik', sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    opacity: 0;
    visibility: hidden;
    list-style: none;
}

.data_row td .fa.fa-cog:hover ul {
    right: 55px;
    opacity: 1;
    visibility: visible;
}

.data_row td span ul li a {
    padding: 5px 15px;
    padding-left: 10px;
    display: block;
    color: #fff;
    font-size: 14px;
    border-left: 5px solid transparent;
    text-align: left;
    text-decoration: none;
}

.data_row td span ul li a:hover {
    border-left: 5px solid #fff;
    color: #f0f0f0;
}

.data_row td .fa.fa-cog ul .fa.fa-caret-right {
	position: absolute;
	top: 25%;
	right: -8px;
	font-size: 25px;
}

/* ==================== students table style end ==================== */
